namespace main_savitch_chapter10{
     template <class Item>
     binary_tree<Item>::binary_tree( ){

     }
     bool isBST(Node* root, Node* l=NULL, Node* r=NULL) 
{ 
    if (root == NULL) 
        return true; 
        
    if (l != NULL and root->data < l->data) 
        return false; 
        
    if (r != NULL and root->data > r->data) 
        return false; 
  
    return isBST(root->left, l, root) and 
           isBST(root->right, root, r); 
} 

}
